---
layout: default
title: Home
---
<div class="container">
  <section class="hero">
    <p class="hero__greeting">{% include t.html k="hero_greeting" %}</p>
    <h1 class="hero__title">weisser.dev</h1>
    <p class="hero__description">{% include t.html k="hero_description" %}</p>
  </section>

  <section>
    <h2 class="section-title">{% include t.html k="latest_posts" %}</h2>
    {%- assign n_en = 0 -%}{%- assign n_de = 0 -%}
    {%- for post in site.posts -%}
      {%- include post-meta.html p=post -%}
      {%- assign in_langs = "" -%}
      {%- if post.lang == "en" or pm_alt == false -%}{%- if n_en < 10 -%}{%- assign in_langs = in_langs | append: " en" -%}{%- assign n_en = n_en | plus: 1 -%}{%- endif -%}{%- endif -%}
      {%- if post.lang == "de" or pm_alt == false -%}{%- if n_de < 10 -%}{%- assign in_langs = in_langs | append: " de" -%}{%- assign n_de = n_de | plus: 1 -%}{%- endif -%}{%- endif -%}
      {%- if in_langs != "" -%}{% include post-card.html p=post in=in_langs %}{%- endif -%}
    {%- endfor -%}
  </section>
</div>
